@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.signin {
    background-color: #ffcc00; // Màu nền ban đầu
    color: black;
    font-weight: bold;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    animation: pulse 1.5s infinite ease-in-out; // Hiệu ứng chớp chớp

    transition: background-color 0.3s, transform 0.3s;

    &:hover {
        background-color: #003ED2; // Đổi màu khi hover
        color: black;
        transform: scale(1.1); // Làm to nhẹ khi hover
    }
}
