.bodyDashboard{
    background-image: url('https://cdn.mobilecity.vn/mobilecity-vn/images/2024/05/hinh-nen-hoang-hon-la-gi-1.jpg.webp');
    padding-top: 200px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.text-container {
    text-align: left;
}
.dashLeft{
    color: white;
    display: flex;
    flex-direction: column;  /* Căn dọc */
    align-items: flex-start; /* Căn trái */
    max-width: 80%;         /* Đảm bảo không vượt quá phần cột */
    word-wrap: break-word;   /* Đảm bảo từ dài tự động xuống dòng */
    overflow-wrap: break-word;
    padding: 30px 70px;
    padding-right: 150px;
    &--tongquan{
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 20px;
    }
    &--chitiet{
        font-size: 23px;
    }   
}
.infoContainer{
    padding: 10px 10px;
}
.inner{
    display: flex;
    &--block{
        padding: 20px 20px;
        justify-content: center;
        text-align: center;
        font-size: 20px;
    }
}
.dashRight{
    img{
        width: 500px;
        height: auto;
        padding: 30px 70px;
        border-radius: 100px;
    }
    // border-radius: 100px;
}
.divider {
    width: 1px;
    height: 30px;
    background-color: white;
    opacity: 0.6;
}
.signin{
    background-color: #FECA00;
    margin-bottom: 50px;
}