.form{
    margin: 70px 10px;
    padding: 20px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.custom-select .ant-select-selection-item {
    text-align: left;
    display: block;
}
