.vanban {
    padding: 30px 200px;
    text-align: center;
    font-size: 20px;
    font-style: italic; // Chữ nghiêng
    color: #333; // Màu chữ tối hơn
}

.anhQueo {
    display: flex;
    justify-content: center; // Canh giữa ảnh
    margin-top: 0px;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%; // Bo tròn hình ảnh
        background-color: #848480; // Nền cam nhạt
        padding: 10px; // Tạo khoảng cách giữa ảnh và nền
    }
}

.ten {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.chucvu {
    text-align: center;
    font-size: 14px;
    color: gray;
}
