.tieude{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
}
.phuhop {
    text-align: center;
    padding: 70px 180px;

    &__title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        &--pad{
            padding: 10px 300px;
        }
    }

    &__card {
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        position: relative;

        &:hover {
            transform: scale(1.05);
        }

        img {
            height: 250px;
            object-fit: cover;
        }
    }

    &__text {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.6);
        padding: 10px;
        border-radius: 5px;
    }
}
