.textLotrinh {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.lo_trinh_container {
    display: flex;
    gap: 20px; /* Khoảng cách giữa các card */
    overflow-x: auto; /* Cho phép cuộn ngang nếu số lượng card nhiều */
    padding: 10px;
    justify-content: center; /* Căn giữa nếu số lượng ít */
    padding-bottom: 100px;
}
.lo_trinh img {
    width: 100%;  /* Ảnh sẽ luôn rộng bằng card */
    height: 250px; /* Cố định chiều cao ảnh */
    object-fit: cover; /* Cắt ảnh để vừa với khung mà không bị méo */
    border-radius: 10px; /* Bo góc nhẹ */
}
